@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --color-primario: #28a745;
    --color-secundario: #218838;
    --color-texto-oscuro: #2c3e50;
    --color-texto-claro: #a1a1a1;
    --color-fondo-caja: white;
    --color-fondo-pagina: #b5b5b5a8;

}

body {
    background-color: var(--color-fondo-pagina);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding-top: 80px;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
     padding: 15px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;

}

/* --- Estilos del Pie de pagina--- */
footer {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    background-color: var(--color-fondo-caja);
    color: var(--color-texto-claro);
    border-top: 1px solid #eee;
}

nav {
    display: flex;
    gap: 20px; 

}

nav a {
    text-decoration: none;
    color: var(--color-texto-claro);
    font-weight: 600;

}
nav a:hover {
    color: var(--color-secundario);
}
nav a.active {
    color: var(--color-texto-oscuro);
}
header h1 {
    font-size: 1.5em;
    color: var(--color-texto-oscuro);
}
main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color:var(--color-fondo-caja);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-header {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

article {
    background-color: var(--color-fondo-caja);
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}
article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
article h2 {
    color: var(--color-texto-oscuro);
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button[type="submit"] {
    background-color:var(--color-primario);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
button[type="submit"]:hover {
    background-color:var(--color-secundario);
}
.bienvenida {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bienvenida-imagen {
    flex: 1;
}

.bienvenida-texto {
    flex: 2;
}
@media (max-width: 700px) {
    header {
        flex-direction: column;
        gap: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    h1, h2, h3 {
        font-weight: 700;
        color:var(--color-texto-oscuro);
    }
}



